# Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#for autocomplete
%config Completer.use_jedi = False

In [3]:
#Setting the display of Pandas to 2 decimal points, and using the comma as a seperator
pd.set_option('display.float_format', '{:,.2f}'.format)

In [4]:
#Importing the csv files into the notebook
food_aid = pd.read_csv(r"C:\Users\user\Desktop\Shoody\Education\Data analysis\OpenClassrooms - From Benji\P4 - Deliverables - SE\Resources\DAN-P4-FAO\aide_alimentaire.csv", encoding='latin-1')
food_availability= pd.read_csv(r"C:\Users\user\Desktop\Shoody\Education\Data analysis\OpenClassrooms - From Benji\P4 - Deliverables - SE\Resources\DAN-P4-FAO\dispo_alimentaire.csv", encoding='latin-1')
population = pd.read_csv(r"C:\Users\user\Desktop\Shoody\Education\Data analysis\OpenClassrooms - From Benji\P4 - Deliverables - SE\Resources\DAN-P4-FAO\population.csv", encoding='latin-1')
under_nutrition = pd.read_csv(r"C:\Users\user\Desktop\Shoody\Education\Data analysis\OpenClassrooms - From Benji\P4 - Deliverables - SE\Resources\DAN-P4-FAO\sous_nutrition.csv")

# Part I

##  Part I Requests / Demandes de la Partie I

**FR**

**Les données sur lesquelles j’aimerais particulièrement avoir des informations sont, pour l’année 2017 :**

1. la proportion de personnes en état de sous-nutrition ;
2. le nombre théorique de personnes qui pourraient être nourries. Tu devrais pouvoir calculer ça à partir de la  disponibilité alimentaire mondiale ;
3. idem pour la disponibilité alimentaire des produits végétaux ;
4. l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine. Je crois que Julien avait trouvé un moyen de facilement calculer ces proportions.

**EN**

**The data on which I would particularly like to have information are, for the year 2017:**

1. the proportion of people in a state of undernutrition;
2. the theoretical number of people who could be fed. You should be able to calculate this from global food availability;
3. the same goes for the food availability of plant products;
4. the use of domestic availability, in particular the part which is allocated to animal feed, the part which is lost and the part which is actually used for human food. I believe that Julien had found a way to easily calculate these proportions.

## Part I Requested Results / Partie I Résultats demandés

### 1. The poportion of people in the world under nutrition in 2017 (EN)
### 1. La proportion de personnes sous-alimentées dans le monde en 2017 (FR)

In [5]:
#Changing the column "Valeur" from thausands to millions / Changer la colonne "Valeur" de milliers à millions
population["Valeur"] = population["Valeur"] * 1000

#Renaming the column from "Valeur" to Population / Renommer la colonne da "Valeur" à "Population"
population = population.rename(columns={"Valeur": "Population"})
population.head()

          Zone  Année    Population
0  Afghanistan   2013 32,269,589.00
1  Afghanistan   2014 33,370,794.00
2  Afghanistan   2015 34,413,603.00
3  Afghanistan   2016 35,383,032.00
4  Afghanistan   2017 36,296,113.00

In [6]:
#Finding the world population by year / Trouver la population mondiale par année
world_population_by_year = population.groupby("Année").sum()
world_population_by_year = world_population_by_year.reset_index()
world_population_by_year

   Année                                               Zone       Population
0   2013  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,210,845,848.00
1   2014  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,295,557,771.00
2   2015  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,380,067,075.00
3   2016  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,464,294,742.00
4   2017  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,548,134,111.00
5   2018  AfghanistanAfrique du SudAlbanieAlgérieAllemag... 7,631,368,523.00

In [7]:
#Extracting the world population of 2017 / Extraction de la population mondiale de 2017
world_population_2017 = world_population_by_year.at[4, "Population"]
formatted_world_population_2017 = '{:,.0f}'.format(world_population_2017)
print('The world population in 2017 was**', formatted_world_population_2017, "human beings")

The world population in 2017 was** 7,548,134,111 human beings

In [8]:
#Removing all the "<" from the column "Valeur" in under nutrtion dataframe 
#Suppression de tous les "<" de la colonne "Valeur" dans le dataframe de sous nutrition 
under_nutrition["Valeur"] = under_nutrition["Valeur"].str.replace("<0.1", "0")

#Checking if it works / Vérifier si cela fonctionne
under_nutrition.loc[under_nutrition["Zone"] == "Barbade", "Valeur"]

102    0
103    0
104    0
105    0
106    0
107    0
Name: Valeur, dtype: object

In [9]:
#Converting the column of "Valeur" from object to floats / Conversion de la colonne "Valeur" de "object" en "float"
under_nutrition["Valeur"] = pd.to_numeric(under_nutrition["Valeur"], errors='coerce')            
under_nutrition.dtypes

Zone       object
Année      object
Valeur    float64
dtype: object

In [10]:
#Calculating the number of people under nutrition in the world in 2016-2018 
#Calcul du nombre de personnes sous-alimentées dans le monde en 2016-2018
total_under_nutrition_by_year = under_nutrition.groupby("Année").sum() 
total_under_nutrition_by_year = total_under_nutrition_by_year.rename(columns={"Valeur": "Population in millions"})
total_under_nutrition_by_year = total_under_nutrition_by_year.reset_index()
total_under_nutrition_by_year

,Année,Zone,Population in millions
0,2012-2014,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,528.10
1,2013-2015,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,523.50
2,2014-2016,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,524.70
3,2015-2017,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,528.60
4,2016-2018,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,535.70
5,2017-2019,AfghanistanAfrique du SudAlbanieAlgérieAllemag...,544.20

In [11]:
#Calculating the proportion of pepople under nutrtion in the world 
#Calcul de la proportion de personnes sous-alimentées dans le monde
total_under_nutrition_2017 = total_under_nutrition_by_year.at[4, "Population in millions"]
proportion = round(((total_under_nutrition_2017 * 1000000) / world_population_2017)*100, 2)
print("The proportion of world poplulation under nutrition in the world in 2017 is", proportion, "%")

The proportion of world poplulation under nutrition in the world in 2017 is 7.1 %

### 2. The theoretical number of people who could be fed in 2017 with the available food in the world
### 2. Le nombre théorique de personnes qui pourraient être nourries en 2017 avec la nourriture disponible dans le monde

In [12]:
#Renaming column to "Kcal/personne/jour" / Renommer la colonne en "Kcal/personne/jour" 
food_availability = food_availability.rename(columns={"Disponibilité alimentaire (Kcal/personne/jour)": "Kcal/pers/jour"})
food_availability.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Kcal/pers/jour,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.00,1.72,0.20,0.77,53.00,NaN,NaN,53.00,NaN,53.00,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.00,1.29,0.01,0.02,41.00,2.00,40.00,39.00,2.00,3.00,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.00,0.06,0.01,0.03,2.00,NaN,2.00,2.00,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.00,0.00,NaN,NaN,0.00,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.00,2.70,0.02,0.05,82.00,NaN,82.00,82.00,NaN,NaN,NaN,NaN,NaN

In [13]:
#Aggregating Kcal available in each country / Agrégation de Kcal disponible dans chaque pays
total_food_available_by_country = food_availability.pivot_table(values="Kcal/pers/jour", index="Zone", aggfunc="sum")

#Multiplying by 365 days to find Kcal available by year / Multiplier par 365 jours pour trouver les Kcal disponibles par année
total_food_available_by_country["Kcal/pers/anne"] = total_food_available_by_country["Kcal/pers/jour"] * 365
total_food_available_by_country

                       Kcal/pers/jour  Kcal/pers/anne
Zone
Afghanistan                  2,087.00      761,755.00
Afrique du Sud               3,020.00    1,102,300.00
Albanie                      3,188.00    1,163,620.00
Algérie                      3,293.00    1,201,945.00
Allemagne                    3,503.00    1,278,595.00
...                               ...             ...
Émirats arabes unis          3,275.00    1,195,375.00
Équateur                     2,346.00      856,290.00
États-Unis d'Amérique        3,682.00    1,343,930.00
Éthiopie                     2,129.00      777,085.00
Îles Salomon                 2,383.00      869,795.00

[174 rows x 2 columns]

In [14]:
#Finding the population of each country in 2017 / Connaitre le population de chaque pays en 2017
population_by_country_2017 = population.loc[population["Année"] == 2017, :]
population_by_country_2017 = population_by_country_2017.reset_index(drop=True)
population_by_country_2017

                                       Zone  Année    Population
0                               Afghanistan   2017 36,296,113.00
1                            Afrique du Sud   2017 57,009,756.00
2                                   Albanie   2017  2,884,169.00
3                                   Algérie   2017 41,389,189.00
4                                 Allemagne   2017 82,658,409.00
..                                      ...    ...           ...
231  Venezuela (République bolivarienne du)   2017 29,402,484.00
232                                Viet Nam   2017 94,600,648.00
233                                   Yémen   2017 27,834,819.00
234                                  Zambie   2017 16,853,599.00
235                                Zimbabwe   2017 14,236,595.00

[236 rows x 3 columns]

In [15]:
#Merging the two tables of food availability and population / Fusion des deux tableaux de disponibilité alimentaire et de population
FoodAva_Population_Combined = pd.merge(total_food_available_by_country, population_by_country_2017, on="Zone", how="left")
FoodAva_Population_Combined

,Zone,Kcal/pers/jour,Kcal/pers/anne,Année,Population
0,Afghanistan,"2,087.00","761,755.00","2,017.00","36,296,113.00"
1,Afrique du Sud,"3,020.00","1,102,300.00","2,017.00","57,009,756.00"
2,Albanie,"3,188.00","1,163,620.00","2,017.00","2,884,169.00"
3,Algérie,"3,293.00","1,201,945.00","2,017.00","41,389,189.00"
4,Allemagne,"3,503.00","1,278,595.00","2,017.00","82,658,409.00"
...,...,...,...,...,...
169,Émirats arabes unis,"3,275.00","1,195,375.00","2,017.00","9,487,203.00"
170,Équateur,"2,346.00","856,290.00","2,017.00","16,785,361.00"
171,États-Unis d'Amérique,"3,682.00","1,343,930.00","2,017.00","325,084,756.00"
172,Éthiopie,"2,129.00","777,085.00","2,017.00","106,399,924.00"
173,Îles Salomon,"2,383.00","869,795.00","2,017.00","636,039.00"

In [16]:
#Multiplying the Kcal/person/year by the population available in each country / Multiplier les Kcal/personne/an par la population disponible dans chaque pays
FoodAva_Population_Combined["Kcal/anne"] = FoodAva_Population_Combined["Kcal/pers/anne"] * FoodAva_Population_Combined["Population"]

#Calculating the sum of Kcal available in the world / Calcul de la somme des Kcal disponibles dans le monde
sum_Kcal_year = FoodAva_Population_Combined["Kcal/anne"].sum()
print("The available Kcal of food per year in the world is", sum_Kcal_year, "kcal")

The available Kcal of food per year in the world is 7635429388975815.0 kcal

In [17]:
#Finding how much Kcal a person needs a year / Trouver la quantité de Kcal dont une personne a besoin par an
Kcal_person_year = 2250*365

#The number of people that can be fed / Le nombre de personnes pouvant être nourries
feed_number_people = int(sum_Kcal_year / Kcal_person_year)
print("The theoritical number of food available in the world " + f"{feed_number_people:,}" + " people annually could be fed")

The theoritical number of food available in the world 9,297,326,501 people annually could be fed

### 3. The theoretical number of people who could be fed in 2017 by vegetable products
### 3. Le nombre théorique de personnes qui pourraient être nourries en 2017 par des produits végétaux

In [18]:
#Summing all the Kcal available in each country that is of vegetable origin / Sommation de toutes les Kcal disponibles dans chaque pays d'origine végétale
total_vege_available = food_availability.groupby(["Zone", "Origine"])["Kcal/pers/jour"].sum()
df_total_vege_available = total_vege_available.reset_index()
df_total_vege_available = df_total_vege_available.loc[df_total_vege_available["Origine"] == "vegetale", :]

In [19]:
#Finding the total Kcal available per year / Trouver le total de Kcal disponible par an
df_total_vege_available["Kcal/pers/anne"] = df_total_vege_available["Kcal/pers/jour"] * 365
df_total_vege_available

                      Zone   Origine  Kcal/pers/jour  Kcal/pers/anne
1              Afghanistan  vegetale        1,871.00      682,915.00
3           Afrique du Sud  vegetale        2,533.00      924,545.00
5                  Albanie  vegetale        2,203.00      804,095.00
7                  Algérie  vegetale        2,915.00    1,063,975.00
9                Allemagne  vegetale        2,461.00      898,265.00
..                     ...       ...             ...             ...
339    Émirats arabes unis  vegetale        2,718.00      992,070.00
341               Équateur  vegetale        1,732.00      632,180.00
343  États-Unis d'Amérique  vegetale        2,698.00      984,770.00
345               Éthiopie  vegetale        2,005.00      731,825.00
347           Îles Salomon  vegetale        2,187.00      798,255.00

[174 rows x 4 columns]

In [20]:
#Merging the two tables of food availability and population / Fusion des deux tableaux de disponibilité alimentaire et de population
VegAva_Population_Combined = pd.merge(df_total_vege_available, population_by_country_2017, on="Zone", how="left")

#Multiplying the Kcal/person/year by the population available in each country / Multiplier les Kcal/personne/an par la population disponible dans chaque pays
VegAva_Population_Combined["Kcal/anne"] = VegAva_Population_Combined["Kcal/pers/anne"] * VegAva_Population_Combined["Population"]

#Calculating the total Kcal available in the world / Calcul du total de Kcal disponible dans le monde
Total_Veg_Kcal_year = VegAva_Population_Combined["Kcal/anne"].sum()
print("The available Kcal of vegetable food per year in the world is", Total_Veg_Kcal_year, "kcal")

The available Kcal of vegetable food per year in the world is 6300178937197865.0 kcal

In [21]:
#Calculating how many human beings could be fed with the available vegetable kcal in the world 
#Calculer combien d'êtres humains pourraient être nourris avec les kcal végétales disponibles dans le monde
feed_number_people_veg = int(Total_Veg_Kcal_year / Kcal_person_year)
print("The theoritical number of food available in the world " + f"{feed_number_people_veg:,}" + " people annually could be fed")

The theoritical number of food available in the world 7,671,450,760 people annually could be fed

### 4. The use of domestic availability, in particular the part which is allocated to animal feed, the part which is lost and the part which is actually used for human food
### 4. L’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.

In [22]:
#Finding the total domestic food availability in the world 
domestic_foodAva = food_availability["Disponibilité intérieure"].sum()
domestic_foodAva

9848994.0

In [23]:
#How much is allocated to animal feed
Animal_food = food_availability["Aliments pour animaux"].sum()
allocated_animal_food = (Animal_food/domestic_foodAva)*100
print("The percentage of domestic food in the world that is allocated to animal feed is " + f"{allocated_animal_food:.2f}" + " %")

The percentage of domestic food in the world that is allocated to animal feed is 13.24 %

In [24]:
#How much is lost 
Lost_food = food_availability["Pertes"].sum()
Perc_lost_food = (Lost_food/domestic_foodAva)*100
print("The percentage of domestic food in the world that is lost is " + f"{Perc_lost_food:.2f}" + " %")

The percentage of domestic food in the world that is lost is 4.61 %

In [25]:
#How much is actually used for human food 
Human_food = food_availability["Nourriture"].sum()
Perc_human_food = (Human_food/domestic_foodAva)*100
print("The percentage of domestic food in the world that is actually for human food is " + f"{Perc_human_food:.2f}" + " %")

The percentage of domestic food in the world that is actually for human food is 49.51 %

# Part II

##  Part II Requests / Demandes de la Partie II

**FR**

1. j’aimerais que tu puisses nous donner les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017
2. ceux qui ont le plus bénéficié d’aide depuis 2013
3. ceux ayant le plus/le moins de disponibilité/habitant, etc.
4. toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire.

**EN**

1. I would like you to give us the countries for which the proportion of undernourished people is the highest in 2017
2. those which have benefited the most from aid since 2013
3. those with the most/least availability/inhabitant, etc.
4. All the information that you would find useful to highlight the countries that seem to be in the most difficulty, in terms of food.

## Part II Requested Results / Partie II Résultats demandés

### 1. The countries for which the proportion of undernourished people is the highest in 2017
### 1. Les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [26]:
#Filtering the undernutrition dataframe to only 2016-2018
under_nutrition_20162018 = under_nutrition[under_nutrition["Année"] == "2016-2018"]
under_nutrition_20162018 = under_nutrition_20162018.reset_index(drop=True)

In [27]:
#Showing the number of Valeur in millions 
under_nutrition_20162018["Valeur"] = under_nutrition_20162018["Valeur"] * 1e6
under_nutrition_20162018

                                       Zone      Année        Valeur
0                               Afghanistan  2016-2018 10,500,000.00
1                            Afrique du Sud  2016-2018  3,100,000.00
2                                   Albanie  2016-2018    100,000.00
3                                   Algérie  2016-2018  1,300,000.00
4                                 Allemagne  2016-2018           NaN
..                                      ...        ...           ...
198  Venezuela (République bolivarienne du)  2016-2018  8,000,000.00
199                                Viet Nam  2016-2018  6,500,000.00
200                                   Yémen  2016-2018           NaN
201                                  Zambie  2016-2018           NaN
202                                Zimbabwe  2016-2018           NaN

[203 rows x 3 columns]

In [28]:
#Merge the two tables of undernutition and population on Zone 
UnderNutrition_Population_Combined = pd.merge(under_nutrition_20162018, population_by_country_2017, on="Zone", how="left")
UnderNutrition_Population_Combined

,Zone,Année_x,Valeur,Année_y,Population
0,Afghanistan,2016-2018,"10,500,000.00",2017,"36,296,113.00"
1,Afrique du Sud,2016-2018,"3,100,000.00",2017,"57,009,756.00"
2,Albanie,2016-2018,"100,000.00",2017,"2,884,169.00"
3,Algérie,2016-2018,"1,300,000.00",2017,"41,389,189.00"
4,Allemagne,2016-2018,NaN,2017,"82,658,409.00"
...,...,...,...,...,...
198,Venezuela (République bolivarienne du),2016-2018,"8,000,000.00",2017,"29,402,484.00"
199,Viet Nam,2016-2018,"6,500,000.00",2017,"94,600,648.00"
200,Yémen,2016-2018,NaN,2017,"27,834,819.00"
201,Zambie,2016-2018,NaN,2017,"16,853,599.00"
202,Zimbabwe,2016-2018,NaN,2017,"14,236,595.00"

In [65]:
#Finding the highest percentage of Countries with undernourished people
UnderNutrition_Population_Combined["Proportion_UnderNutrition"] = (UnderNutrition_Population_Combined["Valeur"] / UnderNutrition_Population_Combined["Population"]) * 100
sorted_countries_with_undernutrition_2017 = UnderNutrition_Population_Combined.sort_values(by="Proportion_UnderNutrition", ascending=False)
highest_countries_with_undernutrition_2017 = sorted_countries_with_undernutrition_2017[["Zone","Proportion_UnderNutrition"]].head(10)
highest_countries_with_undernutrition_2017.reset_index(drop=True)
highest_countries_with_undernutrition_2017.index = [i + 1 for i in range(len(highest_countries_with_undernutrition_2017))]
highest_countries_with_undernutrition_2017

                                          Zone  Proportion_UnderNutrition
1                                        Haïti                      48.26
2   République populaire démocratique de Corée                      47.19
3                                   Madagascar                      41.06
4                                      Libéria                      38.28
5                                      Lesotho                      38.25
6                                        Tchad                      37.96
7                                       Rwanda                      35.06
8                                   Mozambique                      32.81
9                                  Timor-Leste                      32.17
10                                 Afghanistan                      28.93

### 2. Those which have benefited the most from aid since 2013
### 2. ceux qui ont le plus bénéficié d’aide depuis 2013

In [34]:
food_aid.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [117]:
Total_food_aid_since_2013_bycountry = food_aid.pivot_table(values="Valeur", index="Pays bénéficiaire", aggfunc="sum")
Sorted = Total_food_aid_since_2013_bycountry.sort_values(by="Valeur", ascending=False)
Add_Index = Sorted.reset_index()
Add_Index.index = [i + 1 for i in range(len(Add_Index))]
Highest_countries_with_aid_since_2013 = Add_Index.head(10)
Highest_countries_with_aid_since_2013

                   Pays bénéficiaire   Valeur
1          République arabe syrienne  1858943
2                           Éthiopie  1381294
3                              Yémen  1206484
4                      Soudan du Sud   695248
5                             Soudan   669784
6                              Kenya   552836
7                         Bangladesh   348188
8                            Somalie   292678
9   République démocratique du Congo   288502
10                             Niger   276344

### 3. those with the most/least availability/inhabitant, etc.
### 3. ceux ayant le plus/le moins de disponibilité/habitant, etc.

In [132]:
#Highest Kcal available per inhabitant 
Highest_Countries_With_Food_Per_Inhabitant = FoodAva_Population_Combined.sort_values(by="Kcal/pers/anne", ascending=False)[["Zone", "Kcal/pers/anne"]].head(10)
Highest_Countries_With_Food_Per_Inhabitant.index = [i + 1 for i in range(len(Highest_Countries_With_Food_Per_Inhabitant))]
Highest_Countries_With_Food_Per_Inhabitant

                     Zone  Kcal/pers/anne
1                Autriche    1,376,050.00
2                Belgique    1,364,005.00
3                 Turquie    1,353,420.00
4   États-Unis d'Amérique    1,343,930.00
5                  Israël    1,317,650.00
6                 Irlande    1,314,730.00
7                  Italie    1,305,970.00
8              Luxembourg    1,292,100.00
9                  Égypte    1,284,070.00
10              Allemagne    1,278,595.00

In [133]:
#Lowest Kcal available per inhabitant 
Lowest_Countries_With_Food_Per_Inhabitant = FoodAva_Population_Combined.sort_values(by="Kcal/pers/anne", ascending=True)[["Zone", "Kcal/pers/anne"]].head(10)
Lowest_Countries_With_Food_Per_Inhabitant.index = [1 + i for i in range(len(Lowest_Countries_With_Food_Per_Inhabitant))]
Lowest_Countries_With_Food_Per_Inhabitant

                                          Zone  Kcal/pers/anne
1                    République centrafricaine      685,835.00
2                                       Zambie      702,260.00
3                                   Madagascar      750,440.00
4                                  Afghanistan      761,755.00
5                                        Haïti      762,485.00
6   République populaire démocratique de Corée      763,945.00
7                                        Tchad      769,785.00
8                                     Zimbabwe      771,245.00
9                                      Ouganda      775,990.00
10                                 Timor-Leste      777,085.00